* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    Inter,
    sans-serif;

  transition:
    background 0.25s ease,
    color 0.25s ease;
}

/* DARK THEME */

:root {
  --bg-primary:
    radial-gradient(
      circle at top,
      #0f172a 0%,
      #020617 45%,
      #000000 100%
    );

  --sidebar-bg:
    rgba(10, 10, 20, 0.9);

  --card-bg:
    rgba(15, 23, 42, 0.72);

  --input-bg:
    rgba(255, 255, 255, 0.04);

  --border-color:
    rgba(255, 255, 255, 0.08);

  --text-primary:
    #ffffff;

  --text-secondary:
    rgba(255, 255, 255, 0.7);

  --accent:
    #8b5cf6;
}

/* LIGHT THEME */

.light-theme {
  --bg-primary: #f5f7fb;

  --sidebar-bg: #ffffff;

  --card-bg: #ffffff;

  --input-bg: #ffffff;

  --border-color:
    rgba(15, 23, 42, 0.08);

  --text-primary:
    #0f172a;

  --text-secondary:
    #475569;

  --accent:
    #7c3aed;
}

body {
  background:
    var(--bg-primary);

  color:
    var(--text-primary);
}